.page {
  display: flex;
  flex-direction: column;
  width: 97vw;
  height: 100vh;
}

.chatNbar {
  display: flex;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.userErr, .passErr {
  border: 2px solid red;
  color: red;
}

.msgNform {
  width: 100%;
}

.sidebar {
  text-align: center;
  gap: 1rem;
  flex-shrink: 1;
}

.chats {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.msgContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}

.msgs {
  flex-grow: 2;
}

.msgForm {
  justify-self: flex-end;
  flex-shrink: 1;
}