.page {
  display: flex;
  width: 97vw;
  height: 100vh;
}

.sidebar {
  text-align: center;
  gap: 1rem;
  flex-shrink: 1;
}

.chats {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.msgContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.msgs {
  flex-grow: 2;
}

.msgForm {
  justify-self: flex-end;
  flex-shrink: 1;
}