.page {
  display: flex;
  flex-direction: column;
  width: 97vw;
  height: 100vh;
}

.chatNbar {
  display: flex;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.userErr, .passErr {
  border: 2px solid red;
  color: red;
}

.msgNform {
  width: 100%;
}

.sidebar {
  text-align: center;
  gap: 1rem;
  flex-shrink: 1;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: green;
  text-align: center;
  width: 4rem;
  cursor: pointer;
}

li {
  text-align: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  position: relative;
  width: 10rem;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropdown-menu ul li:hover {
  background-color: #f1f1f1;
}

.navRight {
  display: flex;
}

.chats {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.msgContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}

.msgs {
  flex-grow: 2;
}

.msgForm {
  justify-self: flex-end;
  flex-shrink: 1;
}